<section class="container section__select">
  <h2 class="title">Check live foreign currency exchange rates</h2>

  <div class="select__wrap">


    <div [ngClass]="toggleF ? 'is-active': '' " class="select">
      <div (click)="clickHandlerFirst()" class="input__wrap">
        <input class="input__value" value="USD" />
        <div class="input__icon">

        </div>
      </div>
      <ul class="select__list">
        <li value="USD" class="select__item">USD</li>
        <li value="EUR" class="select__item">EUR</li>
        <li value="UAH" class="select__item">UAH</li>
      </ul>
    </div>

    <div [ngClass]="toggleS ? 'is-active': '' " class="select">
      <div (click)="clickHandlerSecond()" class="input__wrap">
        <input class="input__value" value="USD" />
        <div class="input__icon">
          <!-- <img [src]="href"> -->
        </div>
      </div>
      <ul class="select__list">
        <li value="USD" class="select__item">USD</li>
        <li value="EUR" class="select__item">EUR</li>
        <li value="UAH" class="select__item">UAH</li>
      </ul>
    </div>


  </div>



</section>