.container {
  max-width: 800px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
}

.title {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.currency__item {
  color: rgb(82, 211, 35);
}

.currency__list {
  font-weight: 600;
  list-style: none;
  display: flex;
  justify-content: space-around;
}